.correct {
    -fx-background-color: green;
}
.incorrect {
    -fx-background-color: red;
}
.processed {
    -fx-background-color: green;
}

.table-row-cell {
    -fx-cell-size: 50px;
    -fx-font-size: 25px;
}

.bigColumn{
    -fx-cell-size: 50%;
}

.label {
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-min-height: 30px;
}